.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-code {
  font-weight: bold;
  font-size: 3rem;
}

.message {
  margin: 1rem 0;
  text-align: center;
}
